USE [master]
GO
/****** Object:  Database [ChauffeurService]    Script Date: 09/16/2016 15:58:56 ******/
CREATE DATABASE [ChauffeurService] ON  PRIMARY 
( NAME = N'ChauffeurService', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ChauffeurService.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChauffeurService_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ChauffeurService_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChauffeurService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChauffeurService]
GO
/****** Object:  Table [dbo].[Entrys]    Script Date: 09/16/2016 15:58:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrys](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[icon] [nvarchar](max) NOT NULL,
	[description_pic] [nvarchar](max) NOT NULL,
	[views_e] [int] NOT NULL,
	[description_entry] [nvarchar](max) NOT NULL,
	[date] [date] NULL,
	[likes_e] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Entrys] ON
SET IDENTITY_INSERT [dbo].[Entrys] OFF
/****** Object:  Table [dbo].[Contacts]    Script Date: 09/16/2016 15:58:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[mess] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON
INSERT [dbo].[Contacts] ([cid], [name], [email], [mess]) VALUES (1, N'dsadsadsa', N'sadsads@gmail', N'dsadsa')
INSERT [dbo].[Contacts] ([cid], [name], [email], [mess]) VALUES (2, N'gfdgfdgfd', N'gfdgfdgfd@gmail.com', N'fdsfdsfdsfd')
INSERT [dbo].[Contacts] ([cid], [name], [email], [mess]) VALUES (3, N'jhvsajhdvsa', N'hdgscdhgsa@gmail.com', N'dsjaghdsahdfsajhdfsaj')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
/****** Object:  Default [DF__Entrys__views_e__08EA5793]    Script Date: 09/16/2016 15:58:57 ******/
ALTER TABLE [dbo].[Entrys] ADD  DEFAULT ((0)) FOR [views_e]
GO
