/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2016, 1:18:01 PM
    Author     : Students
*/

        .content
            {
                width:1100px;
                height:700px;
                margin: 0 auto;
               font-family: Arial;
            }
            .td1
            {
                width: 200px;
                 padding-bottom: 30px;
                 padding-right: 30px;
            }
            .td2
            {
                padding-bottom: 30px;
            }
            .i
            {
                margin-left: 45px;
              margin-top: 20px;
                position: absolute;
            }
            .gioithieu
            {
                 margin-left: 15px;
                 margin-top:-30px;
                 position: absolute;
            }
            a
            {
                text-decoration: none;
                font-family:Arial;
                color:#3c8dbc;
            }
            .ll
            {
                margin-top: -37px;
                margin-left: 75px;
               
            }
            .submit{
               background-color: white; 
               color:#3c8dbc;
               font-family: Arial;
                 border-style:none;
                border:1px solid #bbb;
                  border-radius: 2px;
            }
             .search
            {
                width:200px;
                height:23px;
                border-radius: 2px;
                border-style:none;
                border:1px solid #bbb;
                
            }
            .button{
                height:28px;
                border-radius: 2px;
                background-color: white;
                font-family: Arial;
                 border-style:none;
                border:1px solid #bbb;
            }
            a{
                font-family: Arial;
            }
            .goc{
                border-top:1px solid #bbb;
                border-bottom: 1px solid #bbb;
            }
            .bang
            {
                margin-left: 45px;
            }
            .title
            {
                margin-left: 121px;
            }
             .title1
            {
                margin-left: 10px;
            } .title2
            {
                margin-left: 180px;
            }
             .title3
            {
                margin-left: 140px;
            }
            .tren
            {
                padding-top: 10px;padding-bottom: 15px;border:1px solid #ccc;border-bottom: 0px;
            }
            .duoi
            {
                padding-top: 10px;padding-bottom: 15px;border:1px solid #ccc;border-top: 0px;
            }