/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2016, 1:23:21 PM
    Author     : Students
*/

.text-green{
    color: tomato;
    font-weight: bold;
}
.row-right{
    border: 1px solid #cdcdcd;
    padding: 0;
    border-radius: 5px;
}
 .row-right h4{
    background: rgba(188, 196, 197, 0.67);
    margin: 0;
    padding: 10px;
    color: tomato;
}
.table thead tr{
    background: #2688ed;
}
.table thead tr th{
    text-align: center;
        color: #fff;
            padding: 15px 0px;
}
.form-control{
    display: initial;
    width: 50%;
    
}
.text-center{
        padding: 10px;
}
.treeview-menu{
        padding-left: 5px;
}
.treeview-menu li{
    list-style: none;
}